@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
body {
  font-family: "Montserrat", sans-serif;
}

body.bonus {
  background-color: rgb(20, 20, 20);
}
body.bonus #daniccimo {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}
body.bonus #daniccimo span {
  display: inline-block;
  font-size: 250px;
  color: rgb(25, 25, 25);
}

body.sunset {
  background-color: skyblue;
  overflow: hidden;
}
body.sunset .sun {
  position: absolute;
  top: 10%;
  left: 5%;
  padding: 100px;
  border-radius: 50%;
  box-shadow: 0px 0px 15px 20px yellow;
  background-color: yellow;
  transition: all 1s ease-in-out;
  animation: sunMove 15s infinite;
}
body.sunset .sun:hover {
  transform: rotate(360deg);
}
body.sunset .sun .eyes {
  position: absolute;
  top: 30%;
  left: 50%;
}
body.sunset .sun .eyes::before {
  content: "";
  position: absolute;
  top: 0;
  left: 25px;
  padding: 20px;
  border-radius: 50%;
  background-color: black;
}
body.sunset .sun .eyes::after {
  content: "";
  position: absolute;
  top: 0;
  left: -55px;
  padding: 20px;
  border-radius: 50%;
  background-color: black;
}
body.sunset .sun .mouth {
  position: absolute;
  top: 70%;
  left: 37%;
  font-weight: bold;
  font-size: 70px;
  transform: rotate(90deg) translateX(-50%);
}
body.sunset .cloud {
  display: flex;
  position: absolute;
  top: 26%;
  left: 4%;
}
body.sunset .cloud:nth-child(2) {
  animation: cloud 8s infinite;
}
body.sunset .cloud:nth-child(3) {
  animation: cloud 6s infinite;
}
body.sunset .cloud:nth-child(4) {
  animation: cloud 10s infinite;
}
body.sunset .cloud:nth-child(5) {
  animation: cloud 7s infinite;
}
body.sunset .cloud .circle-cloud {
  width: 80px;
  height: 80px;
  background: rgb(255, 255, 255);
  border-radius: 50%;
}
body.sunset .cloud .circle-cloud.up {
  position: absolute;
  top: -37px;
  left: 20px;
}
body.sunset .cloud .circle-cloud.up:nth-child(5) {
  left: 80px;
}
body.sunset .cloud .circle-cloud.up:nth-child(6) {
  left: 140px;
}
body.sunset .cloud .circle-cloud.down {
  position: absolute;
  top: 37px;
  left: 20px;
}
body.sunset .cloud .circle-cloud.down:nth-child(7) {
  left: 80px;
}
body.sunset .cloud .circle-cloud.down:nth-child(8) {
  left: 140px;
}
body.sunset .cloud:nth-child(3) {
  top: 20%;
  left: 20%;
}
body.sunset .cloud:nth-child(4) {
  top: 27%;
  left: 35%;
}
body.sunset .cloud:nth-child(5) {
  top: 20%;
  left: 50%;
}
body.sunset .cloud.dark {
  top: 35%;
  left: 73%;
  z-index: 8;
}
body.sunset .cloud.dark .circle-cloud {
  background-color: gray;
}
body.sunset .cloud.dark .circle-cloud:nth-child(4) {
  position: relative;
  left: -20px;
}
body.sunset .cloud.dark .circle-cloud.up {
  top: -37px;
  left: 20px;
}
body.sunset .cloud.dark .circle-cloud.up:nth-child(6) {
  left: 80px;
}
body.sunset .cloud.dark .circle-cloud.up:nth-child(7) {
  left: 140px;
}
body.sunset .cloud.dark .circle-cloud.up:nth-child(8) {
  left: 200px;
}
body.sunset .cloud.dark .circle-cloud.down {
  top: 37px;
  left: 20px;
}
body.sunset .cloud.dark .circle-cloud.down:nth-child(9) {
  left: 80px;
}
body.sunset .cloud.dark .circle-cloud.down:nth-child(10) {
  left: 140px;
}
body.sunset .cloud.dark .circle-cloud.down:nth-child(11) {
  left: 200px;
}
body.sunset .cloud.dark .lightning-wrap {
  display: none;
  position: absolute;
  top: 125px;
  left: 80px;
}
body.sunset .cloud.dark .lightning-wrap.lightningShow {
  display: block;
}
body.sunset .cloud.dark .lightning-wrap .lightning {
  position: absolute;
  top: 0;
  left: 0;
}
body.sunset .cloud.dark .lightning-wrap .lightning:nth-child(1) {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 150px solid yellow;
  transform: skew(-10deg) rotate(10deg);
}
body.sunset .cloud.dark .lightning-wrap .lightning:nth-child(2) {
  top: 140px;
  left: -37px;
  width: 100px;
  height: 50px;
  transform: skew(-30deg);
  background: yellow;
}
body.sunset .cloud.dark .lightning-wrap .lightning:nth-child(3) {
  top: 180px;
  left: -34px;
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 150px solid yellow;
  transform: skew(-10deg) rotate(190deg);
}
body.sunset .rabbit {
  position: absolute;
  top: 70%;
  left: 15%;
  transform: scaleX(-1);
  animation: rabbitMove 5s infinite;
  z-index: 10;
}
body.sunset .rabbit img {
  height: 140px;
}
body.sunset .grow {
  display: flex;
}
body.sunset .grow .circle-left {
  position: absolute;
  top: 70%;
  left: -50%;
  width: 2700px;
  height: 1500px;
  border: 1px solid black;
  background: green;
  border-radius: 50%;
}
body.sunset .grow .circle-right {
  position: absolute;
  top: 70%;
  left: 10%;
  width: 2500px;
  height: 1500px;
  border: 1px solid black;
  background: green;
  border-radius: 50%;
}
body.sunset .link {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 100px;
}
body.sunset .link .bonus {
  display: block;
  font-size: 100px;
  text-decoration: none;
  color: green;
}
body.sunset .link .page2 {
  display: block;
  font-size: 100px;
  text-decoration: none;
  color: green;
}

body.page2 .wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  margin-top: 20px;
  padding: 10px;
  border: 4px solid black;
  border-radius: 20px;
  background-color: bisque;
}
body.page2 .wrap div {
  margin: 10px;
}
body.page2 .wrap .googleMap-wrap {
  margin-right: 0;
  padding-right: 10px;
  border-right: 2px solid black;
}
body.page2 .wrap .googleMap-wrap iframe {
  border-radius: 20px;
}
body.page2 .wrap .video-wrap video {
  height: 600px;
  border-radius: 20px;
}
body.page2 .wrap .audio-wrap {
  flex: 0 0 77%;
  margin-top: 0;
  padding-top: 10px;
  border-top: 2px solid black;
}
body.page2 .wrap .audio-wrap audio {
  display: block;
  margin: 0 auto;
  border-radius: 20px;
}

@keyframes DaniCcimo {
  from {
    color: rgb(25, 25, 25);
  }
  to {
    color: yellow;
    text-shadow: 0px 0px 25px yellow;
  }
}
@keyframes cloud {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10%);
  }
}
@keyframes rabbitMove {
  0% {
    top: 70%;
    left: 15%;
    transform: scaleX(-1);
  }
  10% {
    top: 60%;
    transform: scaleX(-1) scale(1.25);
  }
  20% {
    top: 80%;
    left: 40%;
    transform: scaleX(-1) scale(1.5);
  }
  30% {
    top: 70%;
    transform: scaleX(-1) scale(1.5);
  }
  40% {
    top: 80%;
    left: 65%;
    transform: scaleX(-1) scale(1.5);
  }
  50% {
    top: 80%;
    left: 65%;
    transform: scaleX(1) scale(1.5);
  }
  60% {
    top: 70%;
    transform: scaleX(1) scale(1.5);
  }
  70% {
    top: 80%;
    left: 40%;
    transform: scaleX(1) scale(1.5);
  }
  80% {
    top: 60%;
    transform: scaleX(1) scale(1.25);
  }
  90% {
    top: 70%;
    left: 15%;
    transform: scaleX(1);
  }
}
@keyframes sunMove {
  0% {
    top: 10%;
    left: 5%;
    transform: scale(1);
  }
  12% {
    top: 45%;
    left: 45%;
    transform: scale(3.5) skew(-30deg);
  }
  25% {
    top: 45%;
    left: 45%;
    transform: scale(3.5) skew(30deg);
  }
  50% {
    top: 10%;
    left: 85%;
    transform: scale(1);
  }
  62% {
    top: 45%;
    left: 45%;
    transform: scale(3.5) skew(30deg);
  }
  75% {
    top: 45%;
    left: 45%;
    transform: scale(3.5) skew(-30deg);
  }
  100% {
    top: 10%;
    left: 5%;
    transform: scale(1);
  }
}/*# sourceMappingURL=style.css.map */